@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #AFDDFF;
    --secondary-color: #60B5FF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.text-primary {
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.hover-effect {
    transition: all 0.3s ease-in-out;
}

.hover-effect:hover {
    transform: scale(1.05);
}

.button-hover {
    background-color: #0056b3;
}

.add-button {
    background-color: #0056b3;
}

.status-button {
    opacity: 0.8;
}

.card {
    will-change: transform;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}